@import "_settings";

.products {
  ::-webkit-scrollbar {
    width: 1px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  header {
    h3 {
      color: white;
      padding: 1rem 2rem;
      background: $primary;
      a {
        color: white;
      }
    }
  }
  .skin_body_section {
    width: 100%;
    display: flex;
    z-index: 0;
    .left {
      width: 50%;
      height: 30rem;
      background-image: url("../assets/ProductPage/left.svg");
      // background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      h1 {
        margin: auto;
        color: white;
      }
    }
    .right {
      width: 50%;
      height: 30rem;
      background-image: url("../assets/ProductPage/right.svg");
      // background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      h1 {
        margin: auto;
        color: white;
      }
    }
  }
  .skin_body_set_section,
  .body_product_section,
  .skin_product_section {
    h2 {
      text-align: left;
    }
    div {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.3)
        ),
        url(../assets/ProductPage/skin_body_set.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      height: 200px;
      width: 100%;
    }
    p {
      padding: 0 2rem;
      text-align: left;
    }
  }
  .filter_sort {
    transition: all 0.5s ease-in-out;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0.5rem 0.5rem;
    span {
      position: relative;
      margin: 0 1rem;
      display: flex;
      align-items: center;
      font-size: $h6_size;
      .dropdown_menu {
        transition: all 0.5s ease-in-out;
        display: flex;
        user-select: none;
        h2 {
          font-size: $h6_size;
          font-weight: $h2_weight;
        }
        img {
          margin-right: 0.5rem;
          width: 2rem;
        }
      }
      h2 {
        font-size: $h6_size;
        font-weight: $h2_weight;
      }
      img {
        margin-right: 0.5rem;
        width: 2rem;
      }
      img:nth-child(2) {
        margin-left: 0.5rem;
        width: 0.8rem;
        padding-bottom: 0.5rem;
      }
      .dropdown_menu {
        h2 {
          cursor: pointer;
        }
        img {
          cursor: pointer;
        }
      }
      .sort_by {
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        user-select: none;
        cursor: pointer;
        height: auto;
        box-shadow: 0px 4px 4px rgba(73, 62, 131, 0.1237);
        z-index: 1;
        border-radius: 1rem;
        background: $secondary2;
        padding: 0.5rem 1rem;
        position: absolute;
        bottom: -13rem;
        left: -5rem;
        ul {
          list-style: none;
        }
        li {
          font-weight: medium;
          border-radius: 0.5rem;
          height: 100%;
          width: 100%;
          padding: 0.5rem 1rem;
          font-size: 14px;
          &:hover {
            background: $secondary;
          }
        }
      }
    }
  }

  .brand_select_section {
    padding: 0 auto;
    overflow: auto;
    width: 100%;
    display: flex;
    ul {
      margin: 0 auto;
      float: left;
      white-space: nowrap;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        //   border: 1px solid red;
        margin: 1rem 0.5rem;
        background: $secondary2;
        padding: 5px 10px;
        border-radius: 15px;
        text-align: center;
        box-shadow: 0px 1px 1px rgba(73, 62, 131, 0.1237);
        label {
          user-select: none;
          float: left;
          position: relative;
          color: #111111;
          font-size: 14px;
          font-weight: bold;
          &:hover {
            cursor: pointer;
          }
          input {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }
        }
      }
    }
  }

  .product_list_section {
    // height:348px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    width: 100%;
    .outer_card {
      transition: all 2s ease-in-out;
      // opacity: 0;
      width: 255px;
      position: relative;
      .args {
        font-size: 14px;
        padding: 10px;
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
        // border:1px solid red;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: black;
      }
      .card {
        transition: all 0.5s ease-in-out;
        box-shadow: 0px 4.19672px 4.19672px rgba(73, 62, 131, 0.3);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        border-radius: 21px;
        background-color: white;
        .card_image {
          transition: all 5s ease-in-out;
          background-image: url("../assets/ProductPage/serum_card.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 200px;
          width: 100%;
        }
        .card_description {
          transition: all 0.2s ease-in-out;
          padding: 0.5rem 1rem;
          align-items: flex-end;
          h3 {
            font-size: 12px;
            letter-spacing: 0.2rem;
          }
          h2 {
            font-size: 14px;
            font-weight: bold;
          }
          p {
            font-size: 12px;
            font-weight: medium;
          }
          .price {
            font-size: 16px;
            font-weight: medium;
          }
          .initial_price {
            text-decoration: line-through;
            margin-right: 0.5rem;
          }
        }
        button {
          background: $primary;
          border: none;
          padding: 0.5rem 1rem;
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}
