$primary: #7eaea2;
$primary2: #daf2ec;
$primary3: #7eaea2;

$secondary: #90bdb2;
$secondary2: #dff1e3;
$secondary3: #456a70;

$h1_weight: bold;
$h1_size: 60;

$h2_weight: bold;
$h2_size: 48;

$h3_weight: bold;
$h3_size: 40;

$h4_weight: bold;
$h4_size: 36;

$h5_weight: bold;
$h5_size: 24;

$h6_weight: bold;
$h6_size: 16px;
